header {
  color: #fff;
  background: #444;
  min-width: 610px;
}

a {
  color: #000;
}

.a_lang {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #000;
}

a:focus {
  text-decoration: none;
}

.sidebar-wrapper {
  background: #eee;
  position: relative;
  left: 0;
  width: 300px;
  color: #000;
}

.main-wrapper {
  background: #fff;
}